

table{
    border : 1px solid black;
    border-spacing: 0px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}

td {
    border : 1px solid black;
    border-spacing: 0px;
    width : 10px;
}

tr {
    border : 1px solid black;
    border-spacing: 0px;
    

}

